body {
    position: relative;
    @font-face {
        font-family: 'Bahnschrift';
        src: url('libs/font/Bahnschrift-Font-Family') format('ttf');
    }
}

/*Parent box*/
.menu__slide {
    position: relative;
    max-height: 100vh;
    width: 100%;
}

.menu__slide[data-side="left"] .menu__description {
    right: 0;
    padding: 2vw 2vw 2vw 0;
}

.menu__slide[data-side="right"] .menu__description {
    left: 0;
    padding: 2vw 0 2vw 2vw;
}

.menu__slide[data-meal="dinner"] .menu__description .menu__title {
    margin: 1.5vw auto;
}

/*Description*/
.menu__description {
    position: absolute;
    top: 0;
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    font-family: Bahnschrift, sans-serif;
    font-size: 55px;
}

.menu__header-block {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.menu__diet {
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    line-height: 1;
    font-size: 4vw;
}

.menu__date {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 600;
    align-items: end;
    line-height: 1;
    color: #8FAADC;
    font-size: 4vw;
}

.menu__date-day {
    text-decoration: underline;
}

.menu__title {
    line-height: 1;
    margin: 4vw auto;
    color: yellow;
    font-weight: 600;
    font-size: 4vw;
    text-transform: uppercase;
}

.menu__meals-item {
    display: flex;
    justify-content: space-between;
    line-height: 1.2;
    color: white;
    font-weight: 600;
    font-size: 3vw;
}

.menu__footer-block {
    font-size: 2vw;
    line-height: 1.2;
    color: white;
    font-weight: 600;
    max-width: 80%;
    margin-top: auto !important;
}

.menu__responsible-item {
    display: flex;
    justify-content: space-between;
}
